body {
  margin: 0px;
}

* {
  user-select: none;
}

main {
  padding: 20px;
}

html, body {
  color: #9e9e9e;
  background-color: #424242;
  height: 100%;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; 
}

h1, h2, h3, h4, h5 {
  color: #424242;
}

.Camera.debug .Camera-display {
  position: absolute;
  z-index: 100;
  display: block;
  top: 50;
  left: 50;
  max-width: 25%;
}

.Camera .CameraFallback {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.Camera .CameraFallback.hidden {
  visibility: hidden;
}

.Camera .CameraFallback form {
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}

 .Camera .CameraFallback .CameraFallback-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    visibility: hidden;
}

.Camera .CameraFallback .CameraFallback-input + label {
  background-color: #0d47a1;
  border-radius: 50% 50%;
  width: 20vmin;
  height: 20vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10vw;
}
   
   
.Camera .CameraFallback .CameraFallback-input + label img {
  opacity: 0.8;
  width: 50%;
}

.Camera .Camera-display {
  display: none;
}

.Camera .CameraRealtime.hidden {
  visibility: hidden;
}

.Camera .CameraRealtime.Camera--facing-user .Camera-display {
  transform: scale(-1, 1);
}

.Camera .CameraRealtime .Camera-video {
  position: absolute;
  transform-origin: 50% 50%;
  top: 50%;
  left: 50%;
  pointer-events: none;
}

.Camera .CameraRealtime .Camera-toggle {
  position: absolute;
  margin: 1em;
  bottom: 0;
  right: 0;
  background-color: #0288D1;
  z-index: 50;
}

.Camera .CameraRealtime .Camera-toggle-input {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: -100px;
}

.Camera .CameraRealtime .Camera-toggle-input + label {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #0288D1;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.Camera .CameraRealtime .Camera-toggle-input + label .front {
  display:inline-block;
}

.Camera .CameraRealtime .Camera-toggle-input + label .rear {
  display: none;
}

.Camera .CameraRealtime .Camera-toggle-input:checked + label .front {
  display: none !important;
}

.Camera .CameraRealtime .Camera-toggle-input:checked + label .rear {
  display: inline-block !important;
}

.Camera .Camera-overlay {
  transition: all 300ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 20;
}

.Camera .Camera-overlay:before {
  content:'';
  top: 0;
  left: 0;
  position: absolute;
  border-top: solid rgba(255,255,255, 0.7) 2px;
  border-left: solid rgba(255,255,255, 0.7) 2px;
  width: 10%;
  height: 10%;
}

.Camera .Camera-overlay:after {
  content:'';
  right: 0;
  bottom: 0;
  position: absolute;
  border-bottom: solid rgba(255,255,255, 0.7) 2px;
  border-right: solid rgba(255,255,255, 0.7) 2px;
  width: 10%;
  height: 10%;
}

.Camera .Camera-instructions {
  position: absolute;
  bottom: 0;
  background-color: #323232;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: white;
  padding: 18px;
  border-radius: 2px;
  margin: 1em;
}