/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */

@import "../styleguide/layout/layout";

@import "../styleguide/switch/switch";

body {
  margin: 0px;
}

main {
  padding: 20px;
}

html, body {
  color: $text-color-secondary;
  height: 100%;
  background-color: #263238;
}

h1, h2, h3, h4, h5 {
  color: $text-color-primary;
}

.wsk-layout__content {

  .Camera-video {
  	display:none;
  }

  .Camera-toggle {
    position: absolute;
    margin: 1em;
  }

  .Camera-display {
  	width: 100%;
  	height: 100%;
  }
}